<nav class="navbar navbar-expand-lg bg-body-tertiary shadow py-4">
    <div class="container-fluid">
      <a class="navbar-brand fs-3" href="#">TODO APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link fs-5" routerLink="/todo-home">TODO</a>
          </li>
          <li class="nav-item me-5 fs-5">
            <a class="nav-link" routerLink="/todo-list-pg">TODO LIST</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>