<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto py-5">
            <div class="add-todo mb-5 ">
                <app-add-todo [todo]="todo" (todoAdd)="addTodo($event)"></app-add-todo>

            </div>
            <h3 class="fs-2 mb-4 pt-5 home-pg">Todo's List</h3>
            <div *ngIf="this.todos.length===0; else elseBlock">No Display Todo List</div>
            <ng-template #elseBlock>
                <div class="shadow-lg py-5 px-4 border border-5 border-primary rounded rounded-5 home-pg">
                    <div *ngFor="let todo of todos"  class="card px-4 mb-4 shadow-sm border-2  border-info rounded rounded-2">
                        <app-todo-item [todo]="todo" (todoDelete)="deleted($event)"></app-todo-item>
                    </div>
                </div>
                
            </ng-template>
        </div>
    </div>
</div>